In [1]:
import os

In [ ]:
os.chdir('') # Change the current working directory to the specified path

In [ ]:
Classes and Objects

In [ ]:
Object: an entity in the real-world which can be distinctly identified

1. indentity: it gives unique name to an object
2. state/attribute: it reflects the properties of an object
3. behavior: it reflects the response of an object with other objects

In [ ]:
Object: car

identity: reg no
state/attribute: make/model/mileage/no of seats
behavior/methods: drive, park, accelerate

In [ ]:
Class - A class is a blueprint of an object. 
Objects with same property and methods are defined within one class

In [ ]:
Ex: you can have cars of same model within same class

In [1]:
class Employee:
    
    pass

In [2]:
employee1 = Employee()

In [3]:
employee1.first = 'Shubham'
employee1.last = 'Pandey'
employee1.email = 'pandey.shubham@ymail.com'
employee1.pay = 5000

In [4]:
employee2 = Employee()

In [5]:
employee2.first = 'Yashwant'
employee2.last = 'Mohan'
employee2.email = 'yashwant.m@ymail.com'
employee2.pay = 3000

In [7]:
employee1.first

'Shubham'

In [8]:
class Employee:

# we are going to create __init__ method within the class
# it is used to instantiate and intialize. They are termed as constructors
    
    
    def __init__(self, first, last, pay):
        
        self.first = first
        self.last = last
        self.pay = pay
        self.email = last + '.' + first + "@ymail.com"
        
# when we create a method within a class
# they receive the instance as the first argument automatically
# by convention we should call it self

In [9]:
emp1 = Employee('shubham','pandey', 5000)

In [ ]:
emp1.email

'pandey.shubham@ymail.com'

In [11]:
class Employee:
   
    def __init__(self, first, last, pay):
        
        self.first = first
        self.last = last
        self.pay = pay
        self.email = last + '.' + first + "@ymail.com"
        
    def full_name(self):
        
        return '{} {}'.format(self.first, self.last)

In [3]:
employee1 = Employee('Shubham', "Pandey", 5000)
employee2 = Employee('Ashutosh', "Chauhan", 1000)

NameError: name 'Employee' is not defined

In [2]:
employee1.email

NameError: name 'employee1' is not defined

In [16]:
employee1.full_name()

'Shubham Pandey'

In [18]:
Employee.full_name(employee1)

'Shubham Pandey'

In [19]:
Employee.full_name(employee2)

'Ashutosh Chauhan'

In [20]:
print(Employee.full_name(employee1),'\n', employee1.full_name())

Shubham Pandey
 Shubham Pandey

In the first case - we are calling the method from the class - it does not know the instance

### Constructors

##  __init__

- This is invoked everytime an object of that class is created
- It initializes the object attributes and can take any no of arguments
- It is used within the class

In [ ]:
1. Default constructors

which dont accept any argument. It's definition has only one argument - which is a reference to th instance being contructed

2. Parameterized constructors

Constrctors with parameters. First arg is self. Rest are provided by the programmer

In [21]:
class simplilearn:
    
    # default constrcutor
    
    def __init__(self):
        
        self.learn = 'simplilearn'
    
    # a method for printing data members
    
    def print_learn(self):
        
        print(self.learn)

In [22]:
# create object of the class

obj = simplilearn()

In [23]:
obj.print_learn()

simplilearn

In [25]:
# Example of parametrized constructor

class addition:
    
    first = 0
    second = 0
    answer = 0
    
    def __init__(self, f, s):
        
        self.first = f
        self.second = s
        
    def display(self):
        print(self.first)
        print(self.second)
        print(self.answer)
        
    def calculate(self):
        self.answer = self.first + self.second

In [26]:
obj = addition(150, 250)

In [27]:
obj.display()

150
250
0

In [28]:
obj.calculate()

In [29]:
obj.display()

150
250
400

In [30]:
class addition:
    
    first = 0
    second = 0
    answer = 0
    
    def __init__(self, f, s):
        
        self.first = f
        self.second = s
        
    def display(self):
        print(self.first)
        print(self.second)
        print(self.answer)
        
    def calculate(self):
        self.answer = self.first + self.second

In [31]:
addition.display(obj)

150
250
400

## Class variable and instance variable

In [ ]:
Class variables are same for each instance
instance variables are unique for each instance

In [32]:
class Employee:
    
    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.pay = pay
        self.email = 'last' + '.' + 'first' + "@ymail.com"
    
    def full_name(self):
        return '{} {}'.format(self.first, self.last)
    
    def raise_pay(self):
        self.pay1 = int(self.pay * 1.05)
        return self.pay1

In [33]:
employee1 = Employee('Shubham', 'Pandey', 5000)
employee2 = Employee('Ashutosh', 'Chauhan', 3000)

In [34]:
Employee.raise_pay(employee1)

5250

In [35]:
Employee.raise_pay(employee2)

3150

In [36]:
class Employee:
    
    raise_amount = 1.5
    
    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.pay = pay
        self.email = 'last' + '.' + 'first' + "@ymail.com"
    
    def full_name(self):
        return '{} {}'.format(self.first, self.last)
    
    def raise_pay(self):
        self.pay1 = int(self.pay * raise_amount)
        return self.pay1

In [37]:
employee1 = Employee('Shubham', 'Pandey', 5000)
employee2 = Employee('Ashutosh', 'Chauhan', 3000)

In [38]:
Employee.raise_amount

1.5

In [39]:
employee1.raise_amount

1.5

In [40]:
employee2.raise_amount

1.5

In [41]:
employee1.raise_amount = 1.1

In [42]:
print(Employee.raise_amount, employee1.raise_amount, employee2.raise_amount)

1.5 1.1 1.5

In [43]:
Employee.raise_pay(employee1)

NameError: name 'raise_amount' is not defined

In [44]:
Employee.raise_pay(employee2)

NameError: name 'raise_amount' is not defined

In [45]:
class Employee:
    
    raise_amount = 1.5
    
    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.pay = pay
        self.email = 'last' + '.' + 'first' + "@ymail.com"
    
    def full_name(self):
        return '{} {}'.format(self.first, self.last)
    
    def raise_pay(self):
        self.pay1 = int(self.pay * raise_amount)
        return self.pay1

In [46]:
employee1 = Employee('Shubham', 'Pandey', 5000)
employee2 = Employee('Ashutosh', 'Chauhan', 3000)

In [47]:
Employee.raise_pay(employee1)

NameError: name 'raise_amount' is not defined

In [48]:
Employee.raise_pay(employee2)

NameError: name 'raise_amount' is not defined

In [ ]:
Error : because raise_amount is local variable for the method raise_pay

In [49]:
class Employee:
    
    raise_amount = 1.5
    
    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.pay = pay
        self.email = 'last' + '.' + 'first' + "@ymail.com"
    
    def full_name(self):
        return '{} {}'.format(self.first, self.last)
    
    def raise_pay(self):
        self.pay1 = int(self.pay * Employee.raise_amount)
        return self.pay1

In [51]:
Employee.raise_pay(employee1), Employee.raise_pay(employee2)

(7500, 4500)

In [55]:
Employee.raise_amount, employee1.raise_amount, employee2.raise_amount  # class variable is same for all the instances

(1.5, 1.5, 1.5)

In [57]:
employee2.raise_amount = 1.2

In [58]:
Employee.raise_amount, employee1.raise_amount, employee2.raise_amount

(1.5, 1.5, 1.2)

In [59]:
Employee.raise_pay(employee1), Employee.raise_pay(employee2)

(7500, 4500)

In [60]:
class Employee:
    
    raise_amount = 1.5
    
    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.pay = pay
        self.email = 'last' + '.' + 'first' + "@ymail.com"
    
    def full_name(self):
        return '{} {}'.format(self.first, self.last)
    
    def raise_pay(self):
        self.pay1 = int(self.pay * self.raise_amount)
        return self.pay1

In [ ]:
??How self.raise_amount is different from Employee.raise_amount???

In [61]:
employee1 = Employee('Shubham', 'Pandey', 5000)
employee2 = Employee('Ashutosh', 'Chauhan', 3000)

In [63]:
Employee.raise_amount, employee1.raise_amount, employee2.raise_amount

(1.5, 1.5, 1.5)

In [62]:
Employee.raise_pay(employee1), Employee.raise_pay(employee2)

(7500, 4500)

In [64]:
employee2.raise_amount = 1.2

In [66]:
Employee.raise_pay(employee1), Employee.raise_pay(employee2)

(7500, 3600)

In [ ]:
??How self.raise_amount is different from Employee.raise_amount???

instance vs class variable

In [ ]:
Task: find where we went wrong?

In [67]:
class employee:
    
    emp_count = 0
    organization = 'simplilearn'
    
    def __init__(self, n, a , s):
        
        self.name = n
        self.age = a
        self.salary = s
        
        employee.emp_count += 1
    
    def print_data(self):
        
        print('Name: ', name)
        print('Age: ', age)
        print('salary: ', salary)

In [68]:
emp1 = employee('shubham', 40, 5000)
emp2 = employee('Mohan', 35, 3500)
emp3 = employee('Satish', 32, 2300)

In [69]:
employee.print_data()

TypeError: employee.print_data() missing 1 required positional argument: 'self'

In [70]:
employee.print_data(emp1)

NameError: name 'name' is not defined

In [ ]:
 Why this error???

In [72]:
class employee:
    
    emp_count = 0
    organization = 'simplilearn'
    
    def __init__(self, n, a , s):
        
        self.name = n
        self.age = a
        self.salary = s
        
        employee.emp_count += 1
    
    def print_data(self):
        
        print('Name: ', self.name)
        print('Age: ', self.age)
        print('salary: ', self.salary)

In [73]:
emp1 = employee('shubham', 40, 5000)
emp2 = employee('Mohan', 35, 3500)
emp3 = employee('Satish', 32, 2300)

In [76]:
employee.print_data(emp1)

Name:  shubham
Age:  40
salary:  5000

In [77]:
employee.print_data(emp2)

Name:  Mohan
Age:  35
salary:  3500

In [78]:
class employee:
    
    emp_count = 0
    organization = 'simplilearn'
    
    def __init__(self, n, a , s):
        
        self.name = n
        self.age = a
        self.salary = s
        
        employee.emp_count += 1
    
    def print_data(self):
        
        print('Name: ', self.name)
        print('Age: ', self.age)
        print('salary: ', self.salary)
        print('No of employees: ', employee.emp_count)
        print('Organization: ', employee.organization)

In [79]:
emp1 = employee('shubham', 40, 5000)
emp2 = employee('Mohan', 35, 3500)
emp3 = employee('Satish', 32, 2300)

In [80]:
employee.print_data(emp1)

Name:  shubham
Age:  40
salary:  5000
No of employees:  3
Organization:  simplilearn

In [81]:
employee.print_data(emp2)

Name:  Mohan
Age:  35
salary:  3500
No of employees:  3
Organization:  simplilearn

In [82]:
employee.print_data(emp3)

Name:  Satish
Age:  32
salary:  2300
No of employees:  3
Organization:  simplilearn

Task

Create another method within employee class to calculate Bonus

if salary > 2000 -- bonus is 10% of salary
otherwise bonus is 15% of salary

In [84]:
class employee:
    
    emp_count = 0
    organization = 'simplilearn'
    
    def __init__(self, n, a , s):
        
        self.name = n
        self.age = a
        self.salary = s
        
        employee.emp_count += 1
    
    def print_data(self):
        
        print('Name: ', self.name)
        print('Age: ', self.age)
        print('salary: ', self.salary)
        print('No of employees: ', employee.emp_count)
        print('Organization: ', employee.organization)
        
    def calculate_bonus(self):
        
        if self.salary > 2000: self.bonus = self.salary * .10
        else: self.bonus = self.salary * .15
        print('Bonus is: ', self.bonus)

In [85]:
emp1 = employee('shubham', 40, 5000)
emp2 = employee('Mohan', 35, 3500)
emp3 = employee('Satish', 32, 2300)

In [90]:
employee.calculate_bonus(emp1)

Bonus is:  500.0

In [91]:
employee.calculate_bonus(emp2)

Bonus is:  350.0

In [92]:
emp1.calculate_bonus()

Bonus is:  500.0

In [94]:
print(dir(employee))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'calculate_bonus', 'emp_count', 'organization', 'print_data']

In [ ]:
Modifier types

1. Public access modifiers

declared pulic
easily accessible from any part of the program


2. Protected access modifiers

Member of a class that are declared protected are only accessible to a class derived from it.
Data members of a class are declared protected by adding a single underscore before the data member of the class

3. Private access modifiers

Members of class that are declared private are only accessible within the class
Most secure access modifiers
Data members of a class are declared private by adding double underscore before the data member of the class

## Inheritance

In [96]:
class developers(employee):
    pass

In [97]:
developers.calculate_bonus(emp1)

Bonus is:  500.0

In [ ]:
Inheritence:

Process of forming a new class from an existing class

existing class/base class/parent class/ super class

the new class which is formed is called as

derived class/child class

In [114]:
class employee:
    
    raise_amount = 1.05
    
    def __init__(self, f, l , s):
        
        self.first = f
        self.last = l
        self.salary = s
        self.email = l + '.' + '@simplilearn.net'
        
    
    def full_name(self):
        
        return '{} {}'.format(self.first, self.last)


    def raise_pay(self):
        
        self.pay = int(self.salary * employee.raise_amount)
        return self.pay

In [122]:
class developers(employee):
    
    raise_amount = 1.1   
    
    def __init__(self, fst, lst, sal, lan):
        
        super().__init__(fst, lst, sal)
        self.program_lan = lan

In [123]:
print(dir(developers))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'full_name', 'raise_amount', 'raise_pay']

In [124]:
emp1 = employee('shubham', 'Pandey', 5000)
emp2 = employee('Mohan', 'Kiran', 3500)
emp3 = employee('Satish', 'Kaushik', 2300)

In [125]:
developers.raise_pay(emp3)

2415

In [126]:
developers.full_name(emp2)

'Mohan Kiran'

In [127]:
developers.raise_amount

1.1

In [128]:
dev1 = developers('shu', 'pan', 3500, 'python')

In [130]:
dev1.raise_amount

1.1

In [133]:
class Manager(employee):
    
    raise_amount = 1.15
    
    def __init__(self, first, last, pay, employees = None):
        
        employee.__init__(self, first, last, pay)
        
        if employees is None:
            self.employees = []
        else:
            self.employees = employees
    
    def add_emp(self, emp):
        
        if emp not in self.employees:
            
            self.employees.append(emp)
    
    def remove_emp(self, emp):
        
        if emp in self.employees:
            
            self.employees.remove(emp)
    
    def print_emps(self):
        
        for emp in self.employees:
            print(emp.full_name())

In [134]:
dev1 = developers('shu', 'pan', 3500, 'python')
dev2 = developers('Moh', 'Savit', 2500, 'C#')

In [135]:
manager1 = Manager('Sarthak', 'Gupta', 8000, [dev1])

In [136]:
print(manager1.email)

Gupta.@simplilearn.net

In [ ]:
1. Single inheritance
2. Multiple inheritence
3. Mutilevel inheritence
4. Hierarchical inheritence

## File Handling

In [5]:
file = open('newfile.txt', 'w')  # creates a file

In [6]:
pwd()

'/Users/learnersgalaxy/Downloads/Cisco'

In [8]:
file = open('newfile.txt', 'w')
file.write('I like programming')

18

In [10]:
file = open('newfile.txt', 'w')
file.write('I like programming')
file.write('\nilove machine learning')
file.close()

In [15]:
f = open('newfile.txt', 'r')

In [12]:
f.read()

'I like programming\nilove machine learning'

In [17]:
f = open('newfile.txt', 'r')
print(f.read())

I like programming
ilove machine learning

In [18]:
f.seek(0)
f.read()

'I like programming\nilove machine learning'

In [19]:
f.seek(1)
f.read()

' like programming\nilove machine learning'

In [20]:
f.seek(2)
f.read()

'like programming\nilove machine learning'

In [21]:
f.seek(3)
f.read()

'ike programming\nilove machine learning'

In [25]:
f = open('newfile.txt', 'r')
print(f.readline())

I like programming

In [26]:
f = open('newfile.txt', 'r')
f.seek(0)
print(f.readline())

I like programming

In [27]:
f = open('newfile.txt', 'r')
f.seek(1)
print(f.readline())

 like programming

In [28]:
f = open('newfile.txt', 'r')
f.seek(2)
print(f.readline())

like programming

In [29]:
f = open('newfile.txt', 'r')
f.seek(2)
print(f.readlines())

['like programming\n', 'ilove machine learning']

In [33]:
f = open('newfile.txt', 'r')

In [36]:
f.seek(0)
f.readlines(1)

['I like programming\n']

In [39]:
f.seek(0)
f.readlines()

['I like programming\n', 'ilove machine learning']

In [ ]:
Need to check

In [40]:
# How to get the file size

def file_size(file):
    
    import os
    stat_info = os.stat(file)
    return stat_info.st_size

In [41]:
file_size('newfile.txt')

41

In [42]:
print(file_size('newfile.txt'), 'bytes')

41 bytes

In [43]:
print(file_size('/Users/learnersgalaxy/Downloads/Next-Gen AI.xlsx'), 'bytes')

11427 bytes

# The iterable objects and the iterator

## An object is considered iterable if

- it is physically stored sequence
- it produces one result at a time in the context of an iteration tool like a for loop

iterable: an object that supports an iteration call
iterator: an object returned by an iterable on iter that support next() call

In [45]:
file = open('data.txt', 'w')
file.write('I like programming')
file.write('\nilove machine learning')
file.close()

In [46]:
for line in open('data.txt'):
    print(line.upper())

I LIKE PROGRAMMING

ILOVE MACHINE LEARNING

In [54]:
l = [11, 22, 33, 44]

In [55]:
i = iter(l)

In [58]:
i.__next__()

33

In [59]:
f = open('data.txt')

In [61]:
f.__next__()

'ilove machine learning'

- The initial step is not required for file - because a file object is its own iterator
- There can be multiple iterators for the same iterable object, each referring to a different location

### Dictionary Iterator:

In [62]:
d = {'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [63]:
i = iter(d)

In [64]:
i.__next__()

'a'

In [67]:
d[i.__next__()]

40

### User defined functions:

 - def
 - lambda

### Anonymous function: nameless function

In [103]:
increment = lambda num, incr = 5: num + incr

In [104]:
increment(5)

10

In [105]:
increment(5,2)

7

 -- Lambda function within a function

In [106]:
def Increment():
    
    return lambda num, incr = 5: num + incr

In [109]:
ii = Increment()

In [110]:
ii(5)

10

### There are 2 ways to send the results back to callers:

  - return
  - yield

 - Yield send a result object back to the caller, but remembers where it left off

#### Python Generator function

 - Python provides a generator to create your own iterator function.
 - A generator is a special types of function which does not return a single value, 
   instead it returns an iterator object with a sequence of values
 - In a generator function, 'yield' statement is used instead of return statement

In [96]:
def my_gen_func():
    
    print('first print')
    yield 10

    print('second print')
    yield 20

    print('third print')
    yield 30

In [ ]:
This function will return the value against yield keyword each time it is called

In [97]:
gen = my_gen_func()

In [101]:
next(gen)

third print

30

Functions are first citizen: 

functions are first class objects which means that functions in Python can be used or passed as arguments

A Python function is an object that encapsulates code. 
Calling the function will execute the encapsulated code and return an object

In [68]:
def mul(x, y):
    print('in mul')
    return x*y

In [69]:
mul(2, 4)

in mul

8

In [70]:
x = mul

In [71]:
x(10,15)

in mul

150

 - Functions can be stored in a data structure such as list

In [73]:
def mul(x,y): print('in mul',x,y)
def abc(): print('func abc')
def xyz(): print('func xyz')

In [74]:
mul(10,20); abc(); xyz() # normal function calls

in mul 10 20
func abc
func xyz

In [75]:
l = [mul, abc, xyz]

In [77]:
l[0](2,6)

in mul 2 6

In [78]:
l[1]()

func abc

 - Function objects may be passed to other functions

In [83]:
def mul(x, y):
    print('in mul')
    return x*y

In [84]:
def f1(a,b): print('f1 called')
def f2(mul, x, y): mul(x,y)

In [85]:
f2(f1, 2,10)

f1 called

In [86]:
f2(mul, 2,10)

in mul

 - they can be embedded in data structures

In [87]:
def f1(a): print('f1', a)
def f2(a): print('f2', a)

list_functions = [(f1,'hi'), (f2,'bye')]

In [88]:
for (f, arg) in list_functions:
    f(arg)

f1 hi
f2 bye

 - they can be returned from one function to another

In [90]:
def varFunc(value):
    
    def f1(): print('f1 called')
    def f2(): print('f2 called')
    def f3(): print('f3 called')
    
    if value == 1: return f1
    elif value == 2: return f2
    else: return f3

In [91]:
varFunc(4)

In [92]:
f = varFunc(4)

In [93]:
f()

f3 called

In [94]:
def varFunc(value):
    
    def f1(): print('f1 called')
    def f2(): print('f2 called')
    def f3(): print('f3 called')
    
    if value == 1: return f1()
    elif value == 2: return f2()
    else: return f3()

In [95]:
varFunc(4)

f3 called

#### Function Attributes

 - Function attributes can be listed via dir built-in function : dir(funcname)
 - can be system defined
 - can be user-defined
   - user-defined attributes will also be listed via dir

In [112]:
def f():
    print('test function')

In [113]:
f.attr1 = 'abc'
f.attr2 = 100

In [115]:
print(dir(f))

['__annotations__', '__call__', '__class__', '__closure__', '__code__', '__defaults__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__get__', '__getattribute__', '__globals__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__kwdefaults__', '__le__', '__lt__', '__module__', '__name__', '__ne__', '__new__', '__qualname__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'attr1', 'attr2']

# Decorators

Decorators are used to modify the behavior of a function or class

In decorators, functions are taken as the argument into another function and then
called inside the wrapper function.

In [119]:
def add(a, b):
    
    return a + b

In [122]:
# passing a Functiona as Argument
def calculate(func, x, y):
    
    return func(x,y)

In [123]:
result = calculate(add, 4, 8)
print(result)

12

In [124]:
# Return a Function as a Value

def greeting(name):
    
    def hello():
        
        return "Hello, " + name + '!'
    
    return hello

In [126]:
greet = greeting('Shubham')

In [127]:
print(greet())

Hello, Shubham!

In [128]:
def make_pretty(func):
    
    def inner():
        
        print('I got decorated')
        func()
    return inner

In [129]:
def ordinary():
    
    print('I am ordinary')

In [136]:
def make_pretty(func):
    
    # defining the inner function
    def inner():
        
        # add some additional behavior to decored function
        print('I got decorated')
        
        # call the original function 
        func()
    # return the inner function    
    return inner

# define ordinary function
def ordinary():
    
    print('I am ordinary')
    
# decorate the ordinary function
decorated_fun = make_pretty(ordinary)

decorated_fun()

I got decorated
I am ordinary

In [ ]:
In the example above

make_pretty is a decorator

we are passing ordinary to decorator function, make_pretty, as an arg

The make_pretty() returns the inner function(wrapper function), and it is now assigned 
to the decorated_fun variable

when we call decorated_fun() - we actually are calling the inner() - when we are printing

In [133]:
def make_pretty(func):
    def inner():
        print('I got decorated')
        func()   
    return inner

In [134]:
@make_pretty
def ordinary():
    print('I am ordinary')

In [135]:
ordinary()

I got decorated
I am ordinary

In [137]:
@make_pretty
def ord2():
    print(len('I got decorated'))

In [138]:
ord2()

I got decorated
15

- Decorator Functions with Parameters

In [139]:
def smart_divide(func):
    
    def inner(a,b):
        print("I am going to divide", a, 'and', b)
        if b == 0:
            print("Div by zero error")
            return
        return func(a,b)
    return inner

In [140]:
def divide(a,b):
    return a/b

In [141]:
divide(2,3)

0.6666666666666666

In [142]:
divide(2,0)

ZeroDivisionError: division by zero

In [143]:
@smart_divide
def divide(a,b):
    return a/b

In [144]:
divide(2,0)

I am going to divide 2 and 0
Div by zero error

- Chaining Decorators

In [145]:
def star(func):
    
    def inner(*args, **kwrgs):
        
        print('*' * 15)
        
        func(*args, **kwrgs)
        
        print('*' * 15)
    
    return inner

In [146]:
def percent(func):
    
    def inner(*args, **kwrgs):
        
        print('%' * 15)
        
        func(*args, **kwrgs)
        
        print('%' * 15)
    
    return inner

In [147]:
def printer(msg):
    
    print(msg)

In [148]:
printer('my message is nothing')

my message is nothing

In [149]:
@star
@percent
def printer(msg):
    
    print(msg)

In [150]:
printer('It has been 4 hours and we are hungry')

***************
%%%%%%%%%%%%%%%
It has been 4 hours and we are hungry
%%%%%%%%%%%%%%%
***************

In [151]:
# Order matters
@percent
@star
def printer(msg):
    
    print(msg)

In [152]:
printer('It has been 4 hours and we are hungry')

%%%%%%%%%%%%%%%
***************
It has been 4 hours and we are hungry
***************
%%%%%%%%%%%%%%%

## Exception Handling

In [153]:
print(X)

NameError: name 'X' is not defined

In [154]:
2/0

ZeroDivisionError: division by zero

In [ ]:
try: this block tests the excepted error to occur
except: handle the error
else:if there is no error - what to do
finally: this block is always used whther exception occurs or not

In [157]:
try:
    
    a = int(input('Enter the first number: '))
    b = int(input('Enter the second number: '))
    c = a/b

except ZeroDivisionError as ex1:
    print(" Check the denominator if the value is zero")

else:
    print(c)
    

finally:
    print('Execution is done')

Enter the first number:  4
Enter the second number:  6

0.6666666666666666
Execution is done

## Mapping functions over Iterables

In [158]:
def f(a,b): return 20+a+b
def g(a): return a*a

In [160]:
list(map(g,[1,2,3,4]))

[1, 4, 9, 16]

In [161]:
list(map(f,[1,2,3,4],[10,20,30,40]))

[31, 42, 53, 64]

In [162]:
list(map(lambda x, y: pow(x,y), [23,21,24,26],[1,2,3,4]))

[23, 441, 13824, 456976]

## Combining Items in Iterables: reduce

In [163]:
from functools import reduce

In [164]:
print(reduce((lambda x, y: x + y),[1, 2, 3, 4]))

10

In [165]:
def f(a,b): return a*b

In [166]:
print(reduce(f,[1,2,3,4]))

24

## Selecting Items in Iterables: filter

 - filter selects an iterable's items based on test function

In [168]:
list(filter(lambda x: x>0, range(-5,5)))

[1, 2, 3, 4]

In [169]:
list(filter(lambda x: x<0, range(-5,5)))

[-5, -4, -3, -2, -1]

In [170]:
def f(a):
    if a%2 == 0:
        return True
    else:
        return False

In [172]:
list(filter(f, range(-5,5)))

[-4, -2, 0, 2, 4]